<h3 id="fileDrop"><a href="https://github.com/josephwegner/fileDrop">fileDrop</a></h3>

Have you ever used FTP before? How'd you do it? Filezilla? Your browser? Some other crappy FTP client? Doesn't matter - one way or another, I would bet money that the experience sucked. **No one likes FTP.**

<img src="/images/repos/filedrop.png" alt="fileDrop" />

fileDrop was built to ease the pain for businesses that require an easy method to move files back and forth. First and foremost, fileDrop's interface **just makes sense**. On top of that we've got quick uploads and downloads, secure transfers, easy management, intelligent notifications, popup previews, and tons of configurations for all you overbearing sys admins. Don't make your clients deal with your crappy FTP system - give fileDrop a try.