<nav id="header" class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
  		<a href-"/"class="navbar-brand">{% include logo.html %}<h1>Joe Wegner</h1></a>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/"  class="{% if page.layout == 'default' %} active {% endif %}">Home</a></li>
			<li><a href="/blog" class="{% if page.layout == 'blog' or page.layout == 'post' %} active {% endif %}">Blog</a></li>
			<li><a href="/ramblings" class="{% if page.layout == 'ramblings' or page.layout == 'rambling' %} active {% endif %}">Ramblings</a></li>
		</ul>
	</div>
</nav>