<h3 id="node-ass"><a href="https://github.com/josephwegner/node-ass">node-ass</a></h3>

<b>Advanced Style Sheets for Node.js.</b> 

LESS and SASS have been all the craze recently in web design, but the problem is that they're fat. Sure, relatively, they're not that bad - but certainly they slow down your load times. Node-ass is a solution for node.js based web servers that allows the server to do the parsing of the advanced style sheets, rather than the user. At just 3KB for the entire git repo, node-ass is perfect for your node.js project!  Check out the super simple syntax below.

{% highlight css %}
/* These are your CSS rules */

rule all-box-shadow {
	-moz-box-shadow: %1 %2 %3 %4;
	-webkit-box-shadow: %1 %2 %3 %3;
	box-shadow: %1 %2 %3 %4;
}

/*  And then your regular CSS layout */

#shadowed_box {
	all-box-shadow: 5px 5px 5px #eee;
}
{% endhighlight %}
