/*
 * Colors:
 *
 * Darker Blue (header): #05051f
 * Tealish Blue (subheader): #5ae2e7;
 * Darker Tealish Blue (subheader): #4ababd;
*/

html, body {
	width: 100%;
	margin: 0;
	font-family: "PTSansRegular";
}

#header {
	height: 2.5em;
	background-color: #05051f;
	font-size: 2em;
	line-height: 2em;
}

#header h1 {
	padding-left: 100px;
	background-image: url(/images/logo.png);
	background-size: auto 1.5em;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: white;
	padding-left: 60px;
	margin: 0;
	height: 1em;
	font-size: 1em;
	line-height: .5em;
	padding-top: 1em;
	margin-left: 2em;
}

#post > h2 {
	font-family: "PTSansCaptionBold";
	background-color: #5ae2e7;
	padding: .4em 0;
	border-bottom: .6em solid #4ababd;
	text-align: center;
	margin-top: 0;
}

#post > h2:after {
	content: " ";
	display: block;
	height: 0;
	width: 0;
	border-left: .75em solid #5ae2e7;
	border-top: .75em solid transparent;
	position: relative;
	left: 50%;
	top: .75em;
	transform: rotateZ(-45deg);
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
}

span.date {
	color: #9C9C9C;
	font-size: 14px;
}

h2 span.date {
	padding-left: 20px;
	display: block;
}


div#post #body {
	width: 50%;
	margin: auto;
	font-size: 18px;
	line-height: 1.5em;
}

div#body img {
	width: 100%;
}

div#post a {
	color: #575757;
	text-decoration: underline;
}

ul#list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#list li {
	font-family: "PTSansCaptionBold";
	font-size: 18px;
	border-left: 1px solid #BABABA;
	border-bottom: 1px solid #BABABA;
	cursor: pointer;
}

ul#list li a {
	text-decoration: none;
	display: block;
	padding: 3% 0 3% 5%;
	height: 100%;
	width: 100%;
}

ul#list li a span.title {
	color: black;
}

ul#list li a span {
	display: block;
}

ul#list li:last-child {
	border-bottom: none;
}

ul#list li:hover {
	border-left: 5px solid black;
	background-color: #F9F9F9;
}

ul#list li:hover span {
	position: relative;
	left: -4px;
}


.highlight {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  font-size: 14px;
  overflow: scroll;
}



code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

#socialColumn {
	position: fixed;
	left: 82%;
	top: 60px;
	z-index: 10;
}

#socialColumn a {
	display: block;
	width: 100%;
	height: 100%;
}

#socialColumn div {
	display: block;
	height: 35px;
	width: 35px;
	background-size: contain;
	cursor: pointer;
	transition: background-size .2s, height .2s, width .2s, top .2s, left .2s;
	-webkit-transition: background-size .2s, height .2s, width .2s, top .2s, left .2s;
	-moz-transition: background-size .2s, height .2s, width .2s, top .2s, left .2s;
	-o-transition: background-size .2s, height .2s, width .2s, top .2s, left .2s;
	-ms-transition: background-size .2s, height .2s, width .2s, top .2s, left .2s;
	position: relative;
	top: 0;
	left: 0;

}

#socialColumn div.tweet {
	height: 48px;
	width: 48px;
	background-image: url("../images/twitter.png");
}

#socialColumn div.gittip {
	background-image: url("../images/gittip.png");
	position: relative;
	left: 8px;
}

#socialColumn div:hover {
	height: 60px;
	width: 60px;
}

#socialColumn .twitter:hover {
	top: -6px;
	left: -6px;
}

#thanks {
	background-color: #dee0dc;
	padding: 20px;
	text-align: center;
    width: 75%;
    box-sizing: border-box;
    font-size: 18px;
    color: #3b3b3a;
}

@media screen and (max-device-width: 699px) {
	#socialColumn {
		position: static;
		width: 75%;
		text-align: center;
	}

	#socialColumn div {
		margin: auto;
		display: inline-block;
	}

	#socialColumn .gittip {
		left: auto;
		top: -8px;
	}
}

@media all and (max-width: 699px) {
	#socialColumn {
		position: static;
		width: 75%;
		text-align: center;
	}

	#socialColumn div {
		margin: auto;
		display: inline-block;
	}

	#socialColumn .gittip {
		left: auto;
		top: -8px;
	}
}
