/*
 * Colors:
 * Light Grey(background): #e9e9e9;
 * Peachish Red (subheader): #f35744;
 * Darker Peach (subheader): #bd4233;
 * Darker Blue (header): #05051f
 * Tealish Blue: #5ae2e7;
 * Darker Tealish Blue: #4ababd;
 * Very Near White: #f0f1f3;
 *
*/

body {
	background-color: #e9e9e9;
}

h2.section-header {
	text-align: center;
	font-size: 4em;
	margin-bottom: 1em;
	color: #555555;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.6),0px 1px 1px #fff;
}

.post-header  h2 {
	font-family: "Lato", sans-serif;
  font-weight: 700;
	background-color: #f35744;
	padding-top: .4em;
	border-bottom: .55em solid #bd4233;
	text-align: center;
	margin-top: 0;
	color: white;
}

.post-header  h2.with-image {
	border-top: .55em solid #bd4233;
}

.post-header  h2:after {
	content: " ";
	display: block;
	height: 0;
	width: 0;
	border-left: .75em solid #f35744;
	border-top: .75em solid transparent;
	position: relative;
	left: 50%;
	top: .38em;
	transform: rotateZ(-45deg);
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
}

.halo-container {
	position: relative;
}

.halo-image {
	width: 100%;
}

.post-header h2 {
	margin-bottom: 0;
}

.post-header h2 span.title {
	display: block;
	margin-bottom: 5px;
}

.post-header h2 span.date {
	color: #f0f1f3;
	font-size: 14px;
	padding-left: 20px;
	display: block;
}

div#rambling {
	padding-top: 100px;
}

div#rambling h3 {
	text-align: center;
}

div#post #body {
	font-size: 21px;
	line-height: 1.7em;
}

div#post #body #paragraph-text {
	margin-top: 3em;
}

div#post #body #paragraph-text ol li {
  margin-bottom: 12px;
}

div#body img {
	max-width: 100%;
	display: block;
	margin: auto;
}

div#post a {
	color: #575757;
	text-decoration: underline;
}

ul#list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#list li {
	font-family: "Lato", sans-serif;
  font-weight: bold;
	font-size: 18px;
	border-left: 1px solid #BABABA;
	border-bottom: 1px solid #BABABA;
	cursor: pointer;
}

ul#list li a {
	text-decoration: none;
	display: block;
	padding: 3% 0 3% 5%;
	height: 100%;
	width: 100%;
}

ul#list li a span.title {
	color: black;
}

ul#list li a span {
	display: block;
}

ul#list li:last-child {
	border-bottom: none;
}

ul#list li:hover {
	border-left: 5px solid black;
	background-color: #F9F9F9;
}

ul#list li:hover span {
	position: relative;
	left: -4px;
}


.highlight {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  font-size: 14px;
  overflow: scroll;
}



code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #505050;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
  margin-bottom: 0;
}
pre code {
  color: #f2f2f2;
  background-color: #505050;
  border: none;
  padding: 0;
}

#socialColumn {
	text-align: center;
}

#socialColumn a {
	display: block;
	width: 100%;
	height: 100%;
}

#socialColumn div {
	height: 35px;
	width: 35px;
	background-size: contain;
	cursor: pointer;
	position: static;
	text-align: center;
	margin: auto;
	display: inline-block;
}

#socialColumn div.tweet {
	height: 48px;
	width: 48px;
	background-image: url("../images/twitter.png");
}

#socialColumn div.gittip {
	background-image: url("../images/gittip.png");
	position: relative;
	left: auto;
	top: -8px;
}


#thanks {
	background-color: #dee0dc;
	padding: 20px;
	text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    color: #3b3b3a;
    margin-top: 25px;
}

.blog-listing {
	list-style-type: none;
	padding: 0;
}

.blog-listing h3 {
	text-align: center;
}

.blog-leaf {
    color: black;
    height: 6em;
    width: 6em;
    background-color:  #f35744;
    border-radius: 6em;
    position: absolute;
    left: 50%;
    bottom: -2em;
    display: block;
    margin-left: -3em;
	box-shadow: 0 3px 10px #999;
	-webkit-box-shadow: 0 3px 10px #999;
	-moz-box-shadow: 0 3px 10px #999;
	-o-box-shadow: 0 3px 10px #999;

}

.blog-leaf span.glyphicon {
    font-size: 3em;
    color: white;
    padding: .35em .5em;

}

.blog-leaf span.glyphicon.glyphicon-book {
	padding: .35em .45em;
}

.post-list-container {
	background-color: white;
	box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	margin: 0 0 6em 0;
	padding-bottom: 3em;
	position: relative;
}

.post-list-container > a {
	color: black;
}

.post-list-container h3 {
	padding: 30px 0 40px 0;
	margin: 0;
	font-size: 2em;
}

.post-list-container h3 a {
	color: black;
}

.post-list-container p {
	font-size: 18px;
	line-height: 1.7em;
	padding: 0 2em .5em 2em;
}

div.go-to-top {
	position: fixed;
	right: 2em;
	bottom: -4em;
	height: 4em;
	width: 4em;
	background-color: #05051f;
	color: white;
	border-radius: 1em 1em 0 0;
	cursor: pointer;
	-webkit-transition: background-color .25s, bottom .25s;
	-moz-transition: background-color .25s, bottom .25s;
	-o-transition: background-color .25s, bottom .25s;
	transition: background-color .25s, bottom .25s;
}

div.go-to-top:hover {
	background-color: #bd4233;
}

div.go-to-top span {
    font-size: 2.5em;
    margin: .25em;
    position: absolute;
}

button.navbar-toggle {
	margin-top: 1em;
}

div.navbar-collapse {
	border: none;
}

@media screen and (max-device-width: 699px) {

}

@media all and (max-width: 699px) {
	#socialColumn {
		position: static;
		text-align: center;
	}

	#socialColumn div {
		margin: auto;
		display: inline-block;
	}

	#socialColumn .gittip {
		left: auto;
		top: -8px;
	}
}
