
body {
  font-family: "PTSansRegular";
  padding-top: 59px;
}

#header {
  background-color: #05051f;
  margin-bottom: 0;
  border: none;
  box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
}

#header svg {
  display: inline;
  height: 50px;
  width: 50px;
  margin-left: 50px;
  position: relative;
  top: 3px;
}

#header h1 {
  display: inline;
  color: white;
  padding-left: 10px;
  margin: 10px 0;
  position: relative;
  top: -10px;
}

.navbar-nav {
  margin-right: 4em;
  margin-top: 5px;
}

#header .navbar-nav li a {
  color: white;
  font-size: 1.5em;
}

#header .navbar-nav li a:hover {
  color: #bd4233;
}

#header .navbar-nav li a.active {
  color: #bd4233;
}