body {
  margin: 0;
  padding: 0;
}

div#content {
  line-height: 0;
}

div#content > div > * {
  line-height: 1;
}

#content {
  position: relative;
}

.float {
  float: left;
}

.clear {
  clear: both;
}

.parallax {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.textcontent {
  background-color: white;
  padding: 3% 0 3% 0;
}

.textcontent .half {
  width: 44%;
  margin: auto;
  text-align: center;
}

.textcontent pre, .textcontent code {
  text-align: left;
}

.padsides5 {
  padding-left: 5%;
  padding-right: 5%;
}

.parallax.halfimage {
  background-color: white;
}

.parallax.halfimage img.mainImage{
  width: 50%;
  float: left;
}

.parallax.halfimage .mainText {
  padding: 3%;
  background-color: white;
  width: 44%;
  float: left;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

.social {
  padding: 3% 6% 3% 6%;
  background-color: black;
  text-align: center;
}

.social a {
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: 15px 5px 0 5px;
}

.social .twitter {
  background-image: url("../images/social/twitter-variation.png");
}

.social .google {
  background-image: url("../images/social/gplus-variation2.png");
}

.social .tumblr {
  background-image: url("../images/social/tumblr-variation.png");
}

.social .linkedin {
  background-image: url("../images/social/linkedin-variation.png");
}