body {
  margin: 0;
  padding: 0;
  font-family: andika, serif;
  line-height: 1.4;
}

div#content {
  line-height: 0;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 5px #C5C5C5;
}

div#content > div > * {
  line-height: 1.4;
}

#content {
  position: relative;
}

#content img.stretch {
  width: 100%;
}

.float {
  float: left;
}

.clear {
  clear: both;
}

.textcontent {
  background-color: white;
  padding: 3% 0 3% 0;
}

.code-module {
  background-color: white;
  padding: 3% 0 0 0;
}

.textcontent .half, .code-module .half {
  width: 44%;
  margin: auto;
  text-align: center;
}

.halfimage .mainImage, .halfimage .mainText {
  width: 50%;
  float: left;
}

.halfimage .mainText p, .code-module .mainText p {
  padding: 10px;
}

.halfimage .mainText h2, .code-module .mainText h2 {
  padding-left: 10px;
}

.textcontent pre, .textcontent code {
  text-align: left;
}

.padsides5 {
  padding-left: 5%;
  padding-right: 5%;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

#social {
  padding: 3% 6% 3% 6%;
  background-color: black;
  text-align: center;
}

#social a {
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: 0 5px 0 5px;
}

#social .twitter {
  background-image: url("../images/social/twitter-variation.png");
}

#social .google {
  background-image: url("../images/social/gplus-variation2.png");
}

#social .tumblr {
  background-image: url("../images/social/tumblr-variation.png");
}

#social .linkedin {
  background-image: url("../images/social/linkedin-variation.png");
}

#scrollArrow {
  position: absolute;
  height: 64px;
  width: 64px;
  left: 50%;
  margin-left: -32px;
  bottom: 100px;
  z-index: 2000;
  background-image: url("../images/arrow.png");
  cursor: pointer;
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
}

.a1 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.a2 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.a3 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

#scrollArrow:hover {
  background-image: url("../images/arrow_hover.png");
}

#hello {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1000;
  color: white;
  opacity: .8;
}

/* Ace Overrides */

.editor.ace_editor { 
  position: relative;
  height: 500px;
  width: 100%;
  box-shadow: inset 0 0 10px #9a9a9a;
  -mox-box-shadow: inset 0 0 10px #9a9a9a;
  -o-box-shadow: inset 0 0 10px #9a9a9a;
  -webkit-box-shadow: inset 0 0 10px #9a9a9a;
  padding: 10px 0 10px 0;
  top: 20px;
  margin-bottom: 20px;
}

.editor.ace_editor .ace_gutter {
  padding-top: 10px;
  position: absolute;
  top: 0px;
}

.editor.ace_editor .ace_gutter .ace_gutter_active_line {
  margin-top: 10px;
}