body {
  margin: 0;
  padding: 0;
  font-family: andika, serif;
  line-height: 1.4;
}

div#content {
  line-height: 0;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 5px #C5C5C5;
}

div#content > div > * {
  line-height: 1.4;
}

#content {
  position: relative;
}

#content img.stretch {
  width: 100%;
}

.float {
  float: left;
}

.clear {
  clear: both;
}

.textcontent {
  background-color: white;
  padding: 3% 0 3% 0;
}

.code-module {
  background-color: white;
  padding: 3% 0 0 0;
}

.textcontent .half, .code-module .half {
  width: 44%;
  margin: auto;
  text-align: center;
}

.halfimage {
  padding: 50px 0 50px 0;
  background-color: white;
  background-image: url("../images/dots.png");
  box-shadow: inset 0 0 10px black;
  position: relative;
  text-align: center;
}

.halfimage .mainImage {
  width: 50%;
  box-shadow: 0 0 10px black;
}


 .halfimage .mainText {
  background-color: white;
  box-shadow: 0 0 10px black;
}

.halfimage .mainText h2 {
  margin-top: 0;
}

.halfimage .mainText p {
  width: 50%;
  margin: auto;
}

.halfimage .mainText p, .code-module .mainText p {
  padding: 10px;
}

.halfimage .mainText h2, .code-module .mainText h2 {
  padding-left: 10px;
}

.textcontent pre, .textcontent code {
  text-align: left;
}

.padsides5 {
  padding-left: 5%;
  padding-right: 5%;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

#social {
  padding: 3% 6% 3% 6%;
  background-color: black;
  text-align: center;
}

#social a {
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: 0 5px 0 5px;
}

#social .twitter {
  background-image: url("../images/social/twitter-variation.png");
}

#social .google {
  background-image: url("../images/social/gplus-variation2.png");
}

#social .tumblr {
  background-image: url("../images/social/tumblr-variation.png");
}

#social .linkedin {
  background-image: url("../images/social/linkedin-variation.png");
}

#scrollArrow {
  position: absolute;
  height: 64px;
  width: 64px;
  left: 50%;
  margin-left: -32px;
  bottom: 100px;
  z-index: 2000;
  background-image: url("../images/arrow.png");
  cursor: pointer;
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
}

.a1 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.a2 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.a3 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

#scrollArrow:hover {
  background-image: url("../images/arrow_hover.png");
}

#hello {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1000;
  color: white;
  opacity: .8;
}

/* Blog Listing */

#blogContent {
  background-color: white;
  background-image: url("../images/dots.png");
  box-shadow: inset 0 0 10px black;
}

#blogContent h2 {
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
  font-size: 30px;
}

#blogContent h2 a {
  text-decoration: none;
  color: black;
}

#blogContent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

#blogContent ul li {
  display: inline-block;
  height: 90px;
  width: 150px;
  background-color: grey;
  overflow: hidden;
  border-radius: 200px;
  margin: 25px;
  padding: 60px 25px 50px 25px;
  cursor: pointer;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  box-shadow:  0 0 5px black;
  vertical-align: top;
}

#blogContent ul li a {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

#blogContent ul li.green {
  background-color: #6aaa6b;
}

#blogContent ul li.green:hover {
  background-color: #25aa27;
}

#blogContent ul li.blue {
  background-color: #3c60a7;
}

#blogContent ul li.blue:hover {
  background-color: #1936a7;
}

#blogContent ul li.red {
  background-color: #c84c3d;
}

#blogContent ul li.red:hover {
  background-color: #c82a1f;
}

#blogContent ul li.orange {
  background-color: #ffa05f;
}

#blogContent ul li.orange:hover {
  background-color: #ff6317;
}

#blogContent ul li.purple {
  background-color: #854eb1;
}

#blogContent ul li.purple:hover {
  background-color: #8a20b1;
}
 

/* Ace Overrides */

.editor.ace_editor { 
  position: relative;
  height: 500px;
  width: 100%;
  box-shadow: inset 0 0 10px #9a9a9a;
  -mox-box-shadow: inset 0 0 10px #9a9a9a;
  -o-box-shadow: inset 0 0 10px #9a9a9a;
  -webkit-box-shadow: inset 0 0 10px #9a9a9a;
  padding: 10px 0 10px 0;
  top: 20px;
  margin-bottom: 20px;
}

.editor.ace_editor .ace_gutter {
  padding-top: 10px;
  position: absolute;
  top: 0px;
}

.editor.ace_editor .ace_gutter .ace_gutter_active_line {
  margin-top: 10px;
}