/*
 * Colors:
 * Light Grey(background): #e9e9e9;
 * Peachish Red (subheader): #f35744;
 * Darker Peach (subheader): #bd4233;
 * Darker Blue (header): #05051f
 * Tealish Blue: #5ae2e7;
 * Darker Tealish Blue: #4ababd;
 * Very Near White: #f0f1f3;
 *
*/

body {
  font-family: "PTSansRegular";
}


.hello {
  background-image: url(/images/graph.png);
  background-color: #f0f1f3;
  background-position: 0 0;
  height: 90%;
  display: table;
  width: 100%;
}

.hello h1 {
  margin-top: 0;
  text-align: center;
  font-size: 500%;
  line-height: 1.7em;
  position: relative;
  top: 0;
  left: 0;
  display: table-cell;
  vertical-align: middle;
}

.hello h1 span {
  display: block;
  color: transparent;
  position: relative;
  top: 50%;
  margin-top: -.5em;
}

.blurrable {
  -webkit-transition: text-shadow 1s;
  transition: text-shadow 1s;
  -moz-transition: text-shadow 1s;
  -o-transition: text-shadow 1s;
  text-shadow: 0 0 0 #000;
}

.blurrable.blurred  {
  text-shadow: 60px 0 100px #000 !important;
}

.project-list {
  background-image: url(/images/blog_bg.jpg);
  background-size: 100% 100%;
}

.blog-list h2, .project-list h2 {
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 0;
}

.project-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-list > ul > li > div {
  background-color: white;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0 0 4em 0;
  box-shadow: 0 0 15px #333;
  height: 16em;
}

.project-list > ul > li h3 {
  color: white;
  background-color: #bd4233;
  margin-top: 0;
  font-weight: normal;
  padding: 2% 4%;
}

.project-list > ul > li h3 a {
  color: white;
}

.project-list > ul > li p {
  padding: 4%;
}

.project-list > ul ul {
  position: absolute;
  right: 0;
  bottom: 0;
}

.project-list > ul ul li {
  height: 4em;
  width: 5em;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
}

.project-list > ul ul li.web {
  background-color: #5099b9;
  background-image: url(/images/icons/browser.png);
}

.project-list > ul ul li.node {
  background-color: #5dd74e;
  background-image: url(/images/icons/node.png);
}

.project-list > ul ul li.tech {
  background-color: #dc360f; 
  background-image: url(/images/icons/laptop.png);
}

.project-list > ul ul li.chrome {
  background-color: #b137dc; 
  background-image: url(/images/icons/chrome.png);
}

.project-list > ul ul li.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 5px 5px 10px -5px #000;
  -moz-box-shadow: inset 5px 5px 10px -5px #000;
  -webkit-box-shadow: inset 5px 5px 10px -5px #000;
  -o-box-shadow: inset 5px 5px 10px -5px #000;
  width: auto;
}

.blog-list h2 a {
  color: black;
}

.blog-list h3 a {
  color: black;
}

.blog-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  background-image: url(/images/bumpy.png);
  background-position: top;
  background-repeat: repeat-x;
  padding-top: 50px;
  background-color: white;
}

.footer .footer-content {
  background-color: #cfbc9d;
  color: #a5967e;
  padding-top: 50px;
}

.footer .footer-content .tree {
  position: relative;
}

.footer .footer-content .tree img {
  opacity: .2;
}

.footer .footer-content .tree div.arrow {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 2em;
    background-image: url(/images/arrow.png);
    color: black;
    opacity: .2;
    padding-bottom: 50px;
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 218px;
    padding-left: 50px;
}

.footer .footer-content h3 {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  padding-left: 25px;
  margin-bottom: 1em;
}

ul.social-links {
  text-align: center;
  padding-left: 0;
}

ul.social-links li {
  height: 50px;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  background-repeat: no-repeat;
  border-radius: 50px;
  opacity: .2;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color .2s, opacity .2s;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

ul.social-links li:hover {
  background-color: rgba(0, 0, 0, .4);
  opacity: .5;
}

ul.social-links li a {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
  top: -2px;
  left: -17px;
}

ul.social-links li.twitter {
  background-image: url(/images/twitter.png);
  width: 50px;
}

ul.social-links li.pt {
  background-image: url(/images/10pt.png);
  width: 50px;
}

ul.social-links li.github {
  background-image: url(/images/gplus.png);
  width: 50px;
}

ul.social-links li.linkedin {
  background-image: url(/images/linkedin.png);
  width: 50px;
}

.godown {
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
  top: -50px;
  margin-left: -50px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 100px;
}

.godown:after {
  content: ' ';
  display: block;
  height: 75px;
  width: 75px;
  background-image: url(/images/goto.png);
  background-repeat: no-repeat;
  background-position: center;
  top: -65px;
  left: 12px;
  opacity: .6;
  position: relative;
}

.godown:before {
  content: ' ';
  display: block;
  height: 76px;
  width: 76px;
  background: rgba(255, 255, 255, .7);
  border-radius: 100px;
  position: relative;
  top: 12px;
  left: 12px;
}

/* Smartphones (portrait) ----------- */
@media (max-width : 400px) {

  .hello {
    height: auto;
    padding: 10em auto;
  }


  .footer .footer-content h3 {
    padding-left: 0;
  }
}