<!DOCTYPE html>
<html>
<head>
	<title>WegnerDesign</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" />
  	<script src="/javascripts/jquery.min.js"></script>
  	<script src="/javascripts/keen.js"></script>
  <script src="/javascripts/blog.js"></script>
<meta property="og:type" content="website" />
<meta property="og:title" content="WegnerDesign Blog Index" />
<meta property="og:image" content="/images/logo.png" />
<meta property="og:url" content="https://www.wegnerdesign.com/blog" />
<meta property="og:description" content="The index for the Wegner Design Blog" />
<meta property="og:site_name" content="WegnerDesign" />
</head>
<body class="container-fluid">
	{% include header.html %}
  	<h2 class='section-header'>Blog</h2>
  	<div class="row">
  		<div class="col-xs-1 visible-xs"></div>
  		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10">
		  	<ul class="blog-listing">
		  		{% for post in site.categories.blog %}
		  			<li class="post-list-container">
		  				{% if post.image %}
		  					<a href="{{post.url}}"><img src="{{ post.image }}" class="halo-image" /></a>
		  				{% endif %}
		  				<h3><a href="{{post.url}}">{{ post.title }}</a></h3>
		  				{{post.excerpt}}
		  				<a href="{{post.url}}"><div class="blog-leaf"><span class='glyphicon glyphicon-book'></span></div></a>
		  			</li>
		  		{% endfor %}
		  	</ul>
  		</div>
  	</div>
  <div class="go-to-top">
    <span class="glyphicon glyphicon-arrow-up"><span>
  </div>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <!--
This is an experiment. This is an image of a 1px by 1px transparent GIF. It's small, served fast, and will probably have a nearly negligible amount of effect on the load time of a page.
I'm interested to see if this will spread across the internet. When you load the image, I will track an event containing the page that called it (nothing else - just referer).

If you see this, it would be awesome if you put this pixel on your own website (with this comment, so people will know why it's there) and join the experiment.

Don't talk about it - just let it sit there. I want to see how fast this thing spreads.

If you want to see how it's spreading, check out https://pixel.wegnerdesign.com
  -->
  <img src="https://pixel.wegnerdesign.com/pixel.gif" style="position: absolute; bottom: 0; right: 0;" />
</body>
</html>
