<!DOCTYPE html>
<html>
<head>
	<title>Joe Wegner</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" />
  	<script src="/javascripts/jquery.min.js"></script>
	<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9bddbda201dc4ee4956fbfb0178b7055"}'></script><!-- End Cloudflare Web Analytics -->

  <script src="/javascripts/blog.js"></script>
<meta property="og:type" content="website" />
<meta property="og:title" content="Joe Wegner's Blog Index" />
<meta property="og:image" content="/images/logo.png" />
<meta property="og:url" content="https://joewegner.com/blog" />
<meta property="og:description" content="The index for Joe Wegner's Blog" />
<meta property="og:site_name" content="Joe Wegner" />
</head>
<body class="container-fluid">
	{% include header.html %}
  	<h2 class='section-header'>Blog</h2>
  	<div class="row">
  		<div class="col-xs-1 visible-xs"></div>
  		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10">
		  	<ul class="blog-listing">
		  		{% for post in site.categories.blog %}
		  			<li class="post-list-container">
		  				{% if post.image %}
		  					<a href="{{post.url}}"><img src="{{ post.image }}" class="halo-image" /></a>
		  				{% endif %}
		  				<h3><a href="{{post.url}}">{{ post.title }}</a></h3>
		  				{{post.excerpt}}
		  				<a href="{{post.url}}"><div class="blog-leaf"><span class='glyphicon glyphicon-book'></span></div></a>
		  			</li>
		  		{% endfor %}
		  	</ul>
  		</div>
  	</div>
  <div class="go-to-top">
    <span class="glyphicon glyphicon-arrow-up"><span>
  </div>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
