<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://use.edgefonts.net/andika.js"></script>
    <script src="https://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>title>
  </head>

  <body>
    {% include header.html %}
    {{content}}
       <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
