<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
    <link rel="stylesheet" type="text/css" href="/fonts/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="http://use.edgefonts.net/andika.js"></script>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/keen.js"></script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19623283-1']);
  _gaq.push(['_setDomainName', 'wegnerdesign.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{page.title}}</title>
  </head>

  <body>
      {% include header.html %}
        <div class="hello">
          <h1>
            <span class="blurred blurrable">Hello!</span>
            <span class="blurred blurrable">My name is Joe Wegner</span>
            <span class="blurred blurrable">I'm a <b id='rotating-self'>Web Designer</b></span>
          </h1>
        </div>
        <div class="project-list">
          <div class="godown"></div>
          <h2>Projects</h2>
          <ul class="row">
            {% for post in site.categories.projects %}<li class="col-md-4 col-sm-6 col-xs 10">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                  <h3><a href="{{post.link}}">{{post.title}}</a></h3>
                  {{ post.excerpt }}
                  <ul>
                    {% for tag in post.tags %}<li class="{{tag}}"></li>{% endfor %}
                    <li class="shadow"></li>
                  </ul>
                </div>
              </li>{% endfor %}
          </ul>
        </div>
        <div class="blog-list">
          <div class="godown"></div>
          <h2><a href="/blog">Blog</a></h2>
          <ul class="row">
            {% for post in site.categories.blog limit:3 %}<li class="col-md-4 col-xs-4 col-sm-12 col-xs-12">
              <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                  <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                  {{ post.excerpt }}
                </div>
              </li>{% endfor %}
          </ul>
        </div>
        <div class="footer">
          <div class="footer-content row">
            <div class="col-md-4 col-md-offset-1 col-sm-5 tree hidden-xs">
              <img src="/images/tree.png" />
              <div class="arrow">
                <span>I drew a tree!</span>
              </div>
            </div>
            <div class="col-md-5 contact col-md-offset-1">
              <h3>Get In Touch</h3>
              <ul class="social-links">
                <li class="twitter"><a href="http://www.twitter.com/Joe_Wegner"></a></li>
                <li class="github"><a href="http://github.com/josephwegner"></a></li>
                <li class="pt"><a href="http://10pt.co"></a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/in/joewegner/"></a></li>
              </ul>
            </div>
          </div>
        </div>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
