<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} | WegnerDesign</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/tutorial.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery.min.js"></script>

  <script src="/javascripts/blog.js"></script>
  <script src="/javascripts/tutorial.js"></script>
  <script type="text/javascript">
    function go() {
      var tweetLink = document.getElementsByClassName("tweet")[0].getElementsByTagName("a")[0];

      var url = encodeURIComponent("https://www.wegnerdesign.com{{ page.url }}");
      var name = encodeURIComponent("{{ page.title }} via #WegnerDesign")

      tweetLink.href = "https://twitter.com/intent/tweet?url="+url+"&text="+name;
    }

    function trackMouseOver(ele) {
      _gaq.push(['_trackEvent', 'Social Bar', 'Hover', ele.className]);
    }

    function trackClick(ele) {
      _gaq.push(['_trackEvent', 'Social Bar', 'Click', ele.className]);
    }
  </script>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="WegnerDesign" />
  <div class="go-to-top">
    <span class="glyphicon glyphicon-arrow-up"><span>
  </div>
</head>
<body onload="go();">
  {% include header.html %}
  <div id="post" class="container-fluid" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="row post-header">
      <div class="col-md-12 full-width-column">
        <h2 {% if page.image %} class="with-image" {% endif %}><span class='title' itemprop="name">{{ page.title }}</span><span class="date"><time itemprop="dateCreated" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time></span></h2>
      </div>
    </div>
    <div id="body">
      <div class="row">
        <div class="col-xs-1 visible-xs"></div>
        <div  itemprop="text" id="paragraph-text" class="col-md-5 col-md-offset-1 col-sm-6 col-xs-10">
        {% if page.message %}
          <div class="alert alert-info">{{page.message}}</div>
        {% endif %}
        {{ content }}
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 tutorial-examples hidden-xs" style="background-color: {{page.tutorialbg}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="thanks">
            {% if page.thanks %}
              {{page.thanks}}
            {% else %}
              Thanks for reading <a itemprop="url" href="{{page.url}}">{{page.title}}</a> by <a href="/" itemprop="author">Joe Wegner</a>.  Want to <a href="/blog">read more</a>?
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div id="socialColumn">
      <div class='tweet' onMouseOver="trackMouseOver(this);" onClick="trackClick(this);"><a target="_blank" href="#"></a></div>
      <div class="gittip" onMouseOver="trackMouseOver(this);" onClick="trackClick(this);"><a target="_blank" href="https://www.gittip.com/josephwegner/"></a></div>
    </div>
    <div class="row">
      <div class="col-xs-1 visible-xs"></div>
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10">
        <div id="disqus_thread" style="margin-top: 50px;"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'wegnerdesign'; // required: replace example with your forum shortname
            var disqus_identifier = '{{ meta.dsq.thread_id }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
  </div>
  <div class="go-to-top">
    <span class="glyphicon glyphicon-arrow-up"><span>
  </div>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <!--
This is an experiment. This is an image of a 1px by 1px transparent GIF. It's small, served fast, and will probably have a nearly negligible amount of effect on the load time of a page.
I'm interested to see if this will spread across the internet. When you load the image, I will track an event containing the page that called it (nothing else - just referer).

If you see this, it would be awesome if you put this pixel on your own website (with this comment, so people will know why it's there) and join the experiment.

Don't talk about it - just let it sit there. I want to see how fast this thing spreads.

If you want to see how it's spreading, check out https://pixel.wegnerdesign.com
  -->
  <img src="https://pixel.wegnerdesign.com/pixel.gif" style="position: absolute; bottom: 0; right: 0;" />
</body>
</html>
